<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <section class="hero">
        <h2 class="page-title">Contact Me : 8270521614</h2>
        <h2>Email: gokulnathravikumar8888@gmail.com</h2>
        <h2>LinkedIn: https://www.linkedin.com/in/gokulnath-r-2b4b32199/</h2>
        <h2>GitHub: https://github.com/gokulnathravikumar</h2>
        <div class="tech-icons">
            <a href="https://www.linkedin.com/in/gokulnath-r-2b4b32199/" target="_blank">
                <button class="devicon-linkedin-original tech-icon" title="linkedin" style="font-size: 24px;"></button>
            </a>
            <a href="https://github.com/gokulnathravikumar" target="_blank">
                <button class="devicon-github-original tech-icon" title="github" style="font-size: 24px;"></button>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <button class="devicon-instagram-original tech-icon" title="instagram" style="font-size: 24px;"></button>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <button class="devicon-facebook-original tech-icon" title="facebook" style="font-size: 24px;"></button>
            </a>
            <a href="mailto:gokulnathravikumar8888@gmail.com" target="_blank">
                <button class="devicon-mail-original tech-icon" title="Email" style="font-size: 24px;"></button>
            </a>
        </div>
    </section>
</body>

</html>